article{
    position: relative;
    width: fit-content;
    height: 100%;
    z-index: 10;
}

article .clouds {
    position: relative;
    top: 100px;
    width: 160px;
    height: 50px;
    background-color: #cecece;
    border-radius: 100px;
    filter: drop-shadow(8px 8px 0px #0005) drop-shadow(0 0 0 #dfdfdf);
    z-index: 1;
}

article .thunderStatus{
    animation: thunders 4s steps(1) infinite;
}

article .clouds::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #cecece;
    box-shadow: 45px -10px 0 15px #cecece;
}

article .clouds::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #cecece;
    border-radius: 100px;
}

article .drop {
    position: absolute;
    top: 110px;
    background-color: #3535eba9;
    width: 2px !important;
    height: 10px !important;
    transform-origin: bottom;
    animation: dropfall 2s linear;
} 

@keyframes dropfall {
    0% {
        transform: translateY(0px) scaleY(1);
    }

    70% {
        transform: translateY(300px) scaleY(1);
    }
    80% {
        transform: translateY(300px) scaleY(0.2);
    }

    100% {
        transform: translateY(300px) scaleY(0.2) ;
        opacity: 0;
    }
}

@keyframes thunders {

    0% {
        filter: drop-shadow(8px 8px 0px #0005) drop-shadow(0 0 0 #cecece) brightness(1);
    }
    95% {
        filter: drop-shadow(8px 8px 0px #0005) drop-shadow(0 0 50px #cecece) brightness(10);
    }
}