<section class="w-screen min-w-96 h-full min-h-full rounded-none bg-black/25 gap-5 ackdrop-blur-sm !p-1 flex justify-center items-center md:w-full md:rounded-md">
    <div class="w-full grid grid-cols-2 grid-rows-6 gap-1">
        <div class="TarjetaInformacion col-span-2 row-span-2" [style]="isDay === 1 ? 'background-color: #f5f5f5cc; color: #000000;' : 'background-color: #1f2937cc; color: #ffffff;'">1</div>
        <div class="TarjetaInformacion row-span-2 row-start-3" [style]="isDay === 1 ? 'background-color: #f5f5f5cc; color: #000000;' : 'background-color: #1f2937cc; color: #ffffff;'">2</div>
        <div class="TarjetaInformacion row-start-3" [style]="isDay === 1 ? 'background-color: #f5f5f5cc; color: #000000;' : 'background-color: #1f2937cc; color: #ffffff;'">3</div>
        <div class="TarjetaInformacion col-start-2 row-start-4" [style]="isDay === 1 ? 'background-color: #f5f5f5cc; color: #000000;' : 'background-color: #1f2937cc; color: #ffffff;'">4</div>
        <div class="TarjetaInformacion row-span-2 col-start-2 row-start-5" [style]="isDay === 1 ? 'background-color: #f5f5f5cc; color: #000000;' : 'background-color: #1f2937cc; color: #ffffff;'">5</div>
        <div class="TarjetaInformacion col-start-1 row-start-5" [style]="isDay === 1 ? 'background-color: #f5f5f5cc; color: #000000;' : 'background-color: #1f2937cc; color: #ffffff;'">6</div>
        <div class="TarjetaInformacion row-start-6" [style]="isDay === 1 ? 'background-color: #f5f5f5cc; color: #000000;' : 'background-color: #1f2937cc; color: #ffffff;'">7</div>
    </div>    
</section>