<ion-app [ngStyle]="{'background-color': backgroundColor()}">
  <main class="App">
    <!-- este es el efecto de lluvia -->
    <section *ngIf="mainlyUseClouds()" class="Clouds">
      <app-clouds [weather_code]='this.weather_code' [lluvia]='this.rain' [nieve]='this.snow' [llovisna]="this.showers">

      </app-clouds>
    </section>

    <section class="main">
      <app-bonsai [datos]="datos" [mainlyUseLeafAnimation]="mainlyUseClouds()"></app-bonsai>
    </section>
  </main>
  

  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>