<!-- este es el efecto de lluvia -->
<section *ngIf="mainlyUseClouds()" class="absolute z-50 top-0 left-0 w-full h-full flex justify-center items-start">
    <app-clouds 
        [weather_code]='this.weather_code' 
        [lluvia]='this.rain' 
        [nieve]='this.snow'
        [llovisna]="this.showers"
    >

    </app-clouds>
</section>

<!-- este es el menu button
<app-menu-button *ngIf="true"></app-menu-button>  -->

<main [class]='backgroundColor() + " w-full min-h-screen flex justify-center items-end py-6"'  >
    <app-bonsai [datos]="datos" [mainlyUseLeafAnimation]="mainlyUseClouds()" ></app-bonsai>
</main>
<router-outlet />
